body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 187vh;
}

form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color: #0056b3;
}

     .logo {
                text-align: center; /* 이미지를 가운데 정렬 */
                margin-bottom: 20px; /* 폼과의 간격 조정 */
            }
            .logo img {
                max-width: 100%; /* 이미지가 컨테이너를 넘지 않도록 */
                max-height: 150px; /* 로고 이미지의 최대 높이 설정 */
                width: auto; /* 너비를 자동으로 조정하여 비율 유지 */
                height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
            }
