body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 187vh;
}

form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color: #0056b3;
}

  #checkUserIdBtn {
    border-color: rgb(14, 165, 233); /* 테두리 색상 설정 */
    color: rgb(14, 165, 233); /* 글자 색상 설정 */
  }

  #checkUserIdBtn:hover {
    background-color: rgb(13, 148, 209); /* 호버 시 배경색 - 조금 더 진한 sky 색상 */
    color: white; /* 호버 시 글자 색상 */
  }